jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "Resume - Comic"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: "Resume - Comic/package-lock.json"

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "Resume - Comic/dist"
